*{
        margin:0;
        border:0;
        
}
body{
    overscroll-behavior: contain;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,32,29,1) 38%, rgba(252,176,69,1) 100%);
    display: flex;
    touch-action: manipulation;
    flex-direction: column;
    .work{
        align-self: center;
        font-size: em;
    }
    .display{
        
        border: solid 1.3em black;
        .dspscore{
            width: 1em;
            height: 1em;
            background-color: red;
        }
        .row{
            display: flex;
            
        }
        .pixel{
            
            width:2px;
            height: 1px;

            background: rgb(0,0,0);
            background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(255,3,0,1) 69%);
            background-color: blue;

        }
    }
    .start{
        align-self: center;
        margin-top: 0.4em;
        border-radius: 0.2em;
        font-size: 2em;
        width: 4em;
        height: 1.5em;
        background-color: rgba(155, 4, 255, 0.5);
    }
    
    
}
